DISCORD_TOKEN=
NODE_ENV=development
NODES=[{ "host": "", "identifier": "", "password": "", "port": 9999, "secure": false }]

# NOTE: Please create another dotenv file with the name .prod.env for production purposes. (Used in Docker)